doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Comment
  body
    .container
      h1.mb-1= comment.content
      .text-muted.mb-2= comment.createdDate.toLocaleDateString()
      p Author: #{comment.author.name}
      p Article: #{comment.articleId.title}
      a.btn.btn-secondary(href="/comments") All Comments
      a.btn.btn-info(href=`/comments/edit/${comment._id}`) Edit
